examples/django-1.11/mysite/sysfiles.txt
examples/django-2.0/mysite/sysfiles.txt
django_yamlconf/root
docs/_build
static-files
__pycache__
db.sqlite3
mysite.log
build
dist
htmlcov
venv
.coverage
.venv-distro
.venv?
.venv
.eggs
*.egg-info
*.pyc
