examples/django-4/mysite/sysfiles.txt
src/django_yamlconf/root
docs/_build
static-files
__pycache__
db.sqlite3
mysite.log
build
dist
htmlcov
venv
.coverage
.venv-distro
.venv?
.venv
.eggs
*.egg-info
*.pyc
