# -*- coding: utf-8 -*-
# Copyright © 2018 VMware, Inc.  All rights reserved.
#
# django-yamlconf configure file
#
# - For details of each option additional options, type command,
#   `pylint --generate-rcfile`.

[MASTER]
jobs=8
load-plugins=pylint_django

[TYPECHECK]
ignored-modules=django_yamlconf.tests.*

#[MESSAGES CONTROL]
#disable=missing-docstring,too-few-public-methods,no-init

