# -*- coding: utf-8 -*-
# Copyright © 2018-2023, VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

Django==3.2.20
Jinja2
coverage
PyYAML
nose
six
Sphinx
sphinx_rtd_theme
pycodestyle
pyflakes
pylint
pylint-django
twine
tox
