body {
    background: white url("images/background.jpg") no-repeat right top;
    color: #111;
    padding: 0 1em;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
}

li a {
    color: green;
}
